[ v3_ca ]
basicConstraints=CA:FALSE
subjectAltName=@alt_names
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = lp39a
DNS.2 = lp39a.default
DNS.3 = lp39a.default.svc
DNS.4 = lp39a.default.svc.cluster.local
